@import './content_details/rotationchart.css';
@import './content_details/navbar.css';
@import './content_details/info.css';

.description {
  position: relative;
  top: 50px;
  left: 144px;
  width: 273px;
  height: 51px;
}

.event {
	width: 272px;
  height: 23px;
  font-family: Raleway-Regular;
	font-size: 30px;
	color: #262b2e;
}

.addr {
	width: 87px;
  height: 14px;
  margin-top:15px;
  font-family: OpenSans;
	font-size: 15px;
	color: #262b2e;
	opacity: 0.7;
}

.content-box {
  position: relative;
  left: 144px;
  top: 67px;
  width: 1140px;
  height: 290px;
  margin-top: 17px;
}

#curve_chart {
  position: relative;
  top:88px;
  margin-left: 144px;
  width: 1140px;
	height: 349px;
}

#pie_chart {
  position: relative;
  top: 102px;
  margin-left: 144px;
	width: 560px;
	height: 377px;
}

#bar_chart {
  float: right;
  margin-right: 159px;
  margin-top: -275px;
	width: 560px;
	height: 377px;
}

