.info {
  float: right;
	width: 560px;
  height: 288px;
  background-color: #fff;
}

.info-top {
  margin-left: 50px;
  margin-top: 49px;
  width: 148px;
	height: 19px;
	font-family: OpenSans;
  font-size: 18px;
  color: #262b2e;
}

.info_btn {
  float: right;
  margin-right: 50px;
  margin-top: -23px;
  font-size: 13px;
  align-items: center;
  width: 95px;
	height: 40px;
  border-radius: 2px;
  border-color: rgba(200, 200, 200, 0.5);
  background-color: #fff;
}

.info hr {
  margin-top: 40px;
  width: 560px;
  height: 1px;
  background-color: #202124;
  opacity: 0.07;
}

.info table {
  margin-top: 10px;
  width: 510px;
  color: #262b2e;
  text-align: left;
  margin-left: 50px;
}

.info .first-th {
  width: 110px;
}

.info .second-th {
  width: 340px;
}

.info .third-th {
  width: 110px;
}

.info-title {
  font-size: 14px;
}

.info-list {
  font-size: 13px;
  opacity: 0.8;
}

.info th {
  height: 45px;
}

.info_status {
  width: 65px;
  height: 30px;
}

.info_status div {
  color: #fff;
  background-color: #5dd054;
  width: 46px;
  height: 20px;
  padding: 5px;
}
